body {
    max-width: 100%;
    max-height: 100vh;
    background-color: aqua !important;
    white-space: nowrap;
}

img {
    width:  300px;
    height:  250px;

    display: inline;
}
body {
    max-width: 100%;
    max-height: 100vh;
    background-color: rgb(177, 16, 115);
}